.register-container {
  width: 60%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
}

.register-form-div {
  padding: 5px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  border-image: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff, #00dbde, #fc00ff) 5;
}

.register-form {
  width: 90%;
  height: 700px;
}

.register-heading {
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.register-login-div {
  margin-top: 4rem;
}

/*-------------------- input css ---------------------- */
.input_icon {
  color: #a1a1a1;
  position: absolute;
  left: 0;
}

.register-input-div {
  margin-top: 1rem;
}

.register-inputRole-div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 50px;
}

.register-input-label {
  font-size: 15px;
  font-family: Poppins-Regular;
  display: flex;
}

.register-input-tag {
  border: none;
  font-size: 14px;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: 0 0;
  padding: 0px 0px 0px 24px;
  box-shadow: 0 0 0 30px white inset !important;
  outline: none;
}

.register-inputs-singleDivs,
.register-inputRole-singleDivs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-inputRole-singleDivs {
  gap: 20px;
}

.inputRole-p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
}

.inputRole-p-textspan {
  font-size: 12px;
  font-weight: 500;
}

.register-input-div .register-input-span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #c5c5c5;
}

.register-input-div .register-input-span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  top: 0;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  transition: all 0.6s ease;
  left: 0;
}

.register-input-div .register-input-tag:focus ~ .register-input-span::before,
.register-input-div
  .register-input-tag:not(:placeholder-shown)
  ~ .register-input-span::before {
  width: 100%;
}
.register-input-div .register-input-tag:focus ~ .input_icon,
.register-input-div .register-input-tag:not(:placeholder-shown) ~ .input_icon {
  color: #a64bf4;
}
.register-input-div .register-input-tag:focus ~ .input_password_icon,
.register-input-div
  .register-input-tag:not(:placeholder-shown)
  ~ .input_password_icon {
  color: #a64bf4;
}

/*------------------------- sign up btn -------------------------- */

.register-signUpBtn-div {
  margin-top: 2rem;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
}

.register-background {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
  top: 0;
  left: -100%;
  transition: all 0.5s;
}
.register-signUpBtn-div:hover .register-background {
  left: 0;
}

.register-signUp-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  background: transparent;
  border: none;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

/*--------------------------- login btn ----------------------- */
.register-googleSignIn-Div {
  margin-top: 2rem;
}

.register-googleSignIn-p,
.register-login-p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.register-google-btn {
  background-color: #ea4335;
  border: none;
  padding: 10px 13px;
  border-radius: 100px;
}

.register-loginPage-btn {
  padding: 10px;
  border: none;
  background: transparent;
  margin-top: 0.6rem;
}

.register-linkTologin {
  margin-top: 2rem;
}
